/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.webchat__basic-transcript__activity--from-bot .webchat__bubble__content {
    border-top: 3px solid #43b02a !important;
    border-radius: 5px !important;
}

.webchat__stacked-layout__content .webchat__bubble.webchat__bubble--from-user .webchat__bubble__content {
    background-color: #2c2c2c !important;
    color: white !important;
    border-radius: 5px !important;
}

.webchat__basic-transcript__activity--from-bot .webchat__bubble__nub-pad {
    width: 30px !important;
    height: 30px;
    position: relative;
    background-image: url(https://10xdschatbotcdn.azureedge.net/botIcon.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.webchat__basic-transcript__activity--from-bot .webchat__stacked-layout__status,
.webchat__basic-transcript__activity--from-bot .webchat__carousel-filmstrip__status {
    margin-left: 40px;
}
